﻿@model HRSystem.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<!DOCTYPE html>

<html>
<body>
    <div class="container">
        <h2>Изменение пароля для пользователя @Model.Email</h2>
        <div class="container">
            <form asp-action="ChangePassword" asp-controller="Roles" style="max-width: 390px ;padding: 15px; margin: 0 auto;">

                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label">Старый пароль</label>
                    <input asp-for="OldPassword" class="form-control" placeholder="Пароль" id="password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                    <input asp-for="NewPassword" class="form-control" placeholder="Пароль" id="password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
