﻿
@{
    ViewData["Title"] = "Index";
}
<h1>Список пользователей</h1>
<br />
<table id="employeerTable" class="table table-striped table-bordered text-center ">
    <thead>
        <tr>
            <th>Пользователь</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                @if (user.Email == null)
                {
                    <td>главный Админ <a class="pull-right" asp-action="Edit" asp-route-userid="@user.Id"><i class="fas fa-edit"></i></a></td>

                }
                else
                {
                    <td>

                        @user.Email
                        <a class="pull-right" asp-action="Edit" asp-route-userid="@user.Id"><i class="fas fa-edit"></i></a>
                    </td>
                }
            </tr>

        }
    </tbody>
</table>

@Html.Partial("_ValidationScriptsPartial")
