﻿@model IEnumerable<HRSystem.Models.Requirement>


@{
    ViewData["Title"] = "Index";
}

<h1>Компетенции</h1>
<div class="row">
    <div class="btn-group col-md-push-10  col-md-2">
        <button class="btn btn-default btn-block" onclick="create('Requirement')">Добавить</button>
    </div>
</div>
<br />
<table id="requirementTable" class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>Название</th>
            <th>Срок годности</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var req in Model)
        {
            <tr>
                <td id="requirement">@req.Name <a href="#" class="pull-right" onclick="edit('Requirement', '@req.Id')"><i class="fas fa-edit"></i></a></td>
                @if (req.Validaty == 0)
                {
                    <td>Бессрочный</td>
                }
                else
                {
                    <td>@req.Validaty месяцев</td>
                }
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_ValidationScriptsPartial")