﻿@using Microsoft.CodeAnalysis.CSharp.Syntax
@model HRSystem.ViewModels.PosReqViewModel
@{
    ViewData["Title"] = "CreatePosReq";
}

<form asp-action="CreatePosReq" asp-route-positionId="@Model.PositionId">
    <table class="table">
        <thead>
        <tr>
            <th>
                <h1>Компетенции</h1>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.AllRequirements)
        {
            if (Model.ImpRequirements.Contains(item))
            {
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" checked="checked" value="@item.Id" name="requirements" id="@item.Id" onclick="uncheck('@item.Id')" />
                            </span>
                            <span class="form-control text-center">@item.Name</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" checked="checked" value="@item.Id" name="importance" onclick="check('@item.Id')" id="c_@item.Id" />
                            </span>
                            <span class="form-control text-center">Обязательно</span>
                        </div>
                    </td>
                </tr>
            }
            else if (Model.NoImpRequirements.Contains(item))
            {
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" checked="checked" value="@item.Id" name="requirements" id="@item.Id" onclick="uncheck('@item.Id')" />
                            </span>
                            <span class="form-control text-center">@item.Name</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" value="@item.Id" name="importance" onclick="check('@item.Id')" id="c_@item.Id" />
                            </span>
                            <span class="form-control text-center">Обязательно</span>
                        </div>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" value="@item.Id" name="requirements" id="@item.Id" onclick="uncheck('@item.Id')" />
                            </span>
                            <span class="form-control text-center">@item.Name</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" value="@item.Id" name="importance" onclick="check('@item.Id')" id="c_@item.Id" />
                            </span>
                            <span class="form-control text-center">Обязательно</span>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <input type="submit" value="Сохранить" class="btn btn-info"/>
</form>

@section Scripts
{
    <script>
        function check(id) {
            if($('#c_' + id).prop('checked'))
                $('#' + id).prop('checked', true);
        }

        function uncheck(id) {
            if (!$('#' + id).prop('checked'))
                $('#c_' + id).prop('checked', false);
        }
    </script>
}
