﻿@model IEnumerable<HRSystem.Models.PositionRequirement>

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-left: 13px">Компетенции сотрудника</h2>

<p>
    <a asp-action="CreatePosReq" asp-route-positionId="@ViewBag.PositionId"  style="color: red;margin-left: 12px">Изменить компетенции</a>
</p>
<table class="table table-striped table-bordered text-center ">
    <thead>
    <tr>
        <th>
            Компетенции
        </th>
        <th>
            Срок компетенции
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Requirement.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirement.Validaty)
            </td>
            <td>
                @if (item.IsImportant)
                {
                    <p>Обязательно</p>
                }
                else
                {
                    <p>Желательно</p>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
