﻿@model HRSystem.ViewModels.SampleFormViewModel

<div class="row ">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SampleFile" class="control-label">Файл</label>
                <input class="form-control" type="file" name="SampleFile" accept=".txt, .docx" />
                <span asp-validation-for="SampleFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@Html.Partial("_ValidationScriptsPartial")
