﻿@model IEnumerable<HRSystem.Models.SampleForm>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Шаблоны</h1>

<div class="row">
    <div class="btn-group col-md-push-10  col-md-2">
        <button class="btn btn-default btn-block" onclick="createSample()">Добавить</button>
    </div>
</div>
<br />
<table  class="table table-striped table-bordered text-center">
    <thead>
    <tr>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var sample in Model)
    {
        <tr id="sample_@sample.Id">
            <td><a asp-action="Info" asp-route-id="@sample.Id">@sample.Name</a>  <a href="#ConfirmSample_@sample.Id" data-toggle="modal" class="pull-right"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        <div class="modal" tabindex="-1" role="dialog" id="ConfirmSample_@sample.Id">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body" style="margin: 10px">
                        <p> Действительно хотите удалить @sample.Name  ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="deleteSample(@sample.Id)" data-dismiss="modal">Да</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    }
        
    </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modalResult">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавить Шаблон</h4>
            </div>
            <div class="modal-body" id="updateContent">

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function createSample() {
            $("#updateContent").load('@Url.Action("Create")');
            $("#myModal").modal();
        }

        function deleteSample(sampleId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","SampleForm")',
                data: { 'sampleId': sampleId},
                success: function () {
                    $('#sample_' + sampleId).hide();
                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        }
    </script>
}