﻿@model IEnumerable<HRSystem.Models.SampleKey>


@{
    ViewData["Title"] = "Index";
}

<h1>Ключи</h1>

<br />
<table id="keyTable" class="table table-striped table-bordered text-center ">
    <thead>
    <tr>
        <th>Значение</th>
        <th>Ключ</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var key in Model)
    {
        <tr>
            <td>@key.Name</td>
            <td>$$@key.Key$$ <a href="#" class="pull-right" onclick="edit('SampleKey', '@key.Id')"><i class="fas fa-edit"></i></a></td>
        </tr>
    }
    </tbody>
</table>
@Html.Partial("_ValidationScriptsPartial")