﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 900px;
}

#image {
    width: 100%;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}




@import url(http://fonts.googleapis.com/css?family=Raleway);

#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu {
    border-bottom: 3px solid #47c9af;
}




    #cssmenu > ul > li.active > a,
    #cssmenu > ul > li:hover > a,
    #cssmenu > ul > li > a:hover {
        color: #ffffff;
    }

    #cssmenu > ul > li > a:after {
        position: absolute;
        left: -11px;
        bottom: 0;
        right: 1px;
        z-index: -1;
        width: 109%;
        height: 120%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        content: "";
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        -webkit-transform: perspective(5px) rotateX(2deg);
        -webkit-transform-origin: bottom;
        -moz-transform: perspective(5px) rotateX(2deg);
        -moz-transform-origin: bottom;
        transform: perspective(5px) rotateX(2deg);
        transform-origin: bottom;
    }

    #cssmenu > ul > li.active > a:after,
    #cssmenu > ul > li:hover > a:after,
    #cssmenu > ul > li > a:hover:after {
        background: #47c9af;
        color: #ffffff;
    }

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Starter CSS for Flyout Menu */


#cssmenu-2,
#cssmenu-2 ul,
#cssmenu-2 ul li {
    list-style: none;
    padding: 0;
    border: 0;
}

    #cssmenu-2 ul ul {
        margin-top: 1px;
        visibility: hidden;
        position: absolute;
        top: 1px;
        left: 99%;
        z-index: 598;
        width: 100%;
    }

#cssmenu-2 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 200px;
    position: absolute;
    top: 85px;
}

    #cssmenu-2 ul a {
        display: block;
        color: #848889;
        text-decoration: none;
        font-weight: 300;
        padding: 10px 20px;
    }
.active-nav  {
    color: #3dbd99;
    background: #f6f6f6;
    border-left: 3px solid #3dbd99
}

    #cssmenu-2 ul li:hover > a {
        color: #3dbd99;
        background: #f6f6f6;
        border-left: 3px solid #3dbd99
    }




/* Employeer*/
.title {
    color: #2BBCDE;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

.title2 {
    color: brown;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

h1 {
    color: #696969;
}

.content {
    float: right;
    width: 70%;
}

/*StarRating*/
.rating {
    margin-top: 6px;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}

    .rating label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
    }

        .rating label:last-child {
            position: static;
        }

        .rating label:nth-child(1) {
            z-index: 5;
        }

        .rating label:nth-child(2) {
            z-index: 4;
        }

        .rating label:nth-child(3) {
            z-index: 3;
        }

        .rating label:nth-child(4) {
            z-index: 2;
        }

        .rating label:nth-child(5) {
            z-index: 1;
        }

        .rating label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .rating label .icon {
            float: left;
            color: transparent;
        }

        .rating label:last-child .icon {
            color: #000;
        }

    .rating:not(:hover) label input:checked ~ .icon,
    .rating:hover label:hover input ~ .icon {
        color: orange;
    }

    .rating label input:focus:not(:checked) ~ .icon:last-child {
        color: #000;
        text-shadow: 0 0 5px #09f;
    }

.star-card {
    border: #848889 dashed 0.5px;
    border-radius: 5%;
    text-align: center;
    width: 200px;
    font-family: arial;
    margin-left: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    max-height: 400px;
}


    .card img {
        width: 130px;
        border-radius: 50%;
        margin-top: 10px;
        height: 130px;
    }

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 6px;
    color: white;
    background-color: #46b8da;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }
