﻿@model HRSystem.ViewModels.EmployeerViewModel

@{
    ViewData["Title"] = "Create Employeer";
}


<h2 class="text-center">Добавить сотрудника</h2>


<hr />
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Фамилия</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Отчество</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="BirthdayDate">Дата рождения</label>
                <input class="form-control datesss" asp-for="BirthdayDate" type="text" />
                <span asp-validation-for="BirthdayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Адрес проживания</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeePhoto" class="control-label">Фото</label>
                <input class="form-control" type="file" name="EmployeePhoto" accept="image/*" />
                <span asp-validation-for="EmployeePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportINN" class="control-label">ИНН Паспорта</label>
                <input asp-for="PassportINN" class="form-control" />
                <span asp-validation-for="PassportINN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ByWhomGiven" class="control-label">Орган выдавший документ</label>
                <input asp-for="ByWhomGiven" class="form-control" />
                <span asp-validation-for="ByWhomGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="PassportDateIn">Дата выдачи</label>
                <input class="form-control datesss" asp-for="PassportDateIn" type="text" />
                <span asp-validation-for="PassportDateIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="PassportDateOut">Срок окончания</label>
                <input class="form-control datesss" asp-for="PassportDateOut" type="text" />
                <span asp-validation-for="PassportDateOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isGender" class="control-label">Пол</label>
                <div class="radio">
                    <label>
                        <input type="radio" asp-for="isGender" value="@true" id="man"> Мужчина
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" asp-for="isGender" value="@false" id="women"> Женщина
                    </label>
                </div>
                <span asp-validation-for="isGender" class="text-danger"></span>
            </div>
            <div id="genderResult">
                <div class="form-group">
                    <label asp-for="isMilitaryService" class="control-label">Военная служба</label>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="isMilitaryService" value="@true"> Служил
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="isMilitaryService" value="@false"> Не служил
                        </label>
                    </div>
                    <span asp-validation-for="isMilitaryService" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="isMarried">Семейное положение</label>
                <div class="radio">
                    <label>
                        <input type="radio" asp-for="isMarried" value="@true"> Женат
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" asp-for="isMarried" value="@false"> Холост
                    </label>
                </div>
                <span asp-validation-for="isMarried" class="text-danger"></span>
            </div>
            <label asp-for="Telephone">Телефон</label>
            <div id="input_fields">
                <div class="form-inline">
                    <div class="form-group">
                        <input class="phone form-control" asp-for="Telephone" type="text" />
                    </div>
                    <button class="btn btn-default" id="add_field">+</button>
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
            </div>
            <label asp-for="Email">Почта</label>
            <div class="input_email">
                <div class="form-inline">
                    <div class="form-group">
                        <input class="form-control" asp-for="Email" type="text" />
                    </div>
                    <button class="btn btn-default" id="add_email">+</button>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <label asp-for="RelName">Родственники <a id="add_reletive">Добавить</a></label>
            <div class="row">
                <div id="input_reletive">
                    <div>
                        <div class="col-md-4">
                            <input class="form-control" asp-for="RelName" type="text" placeholder="ФИО" />
                            <span asp-validation-for="RelName" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" asp-for="RelType" type="text" placeholder="Статус" />
                            <span asp-validation-for="RelType" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <input class="datesss form-control"  asp-for="RelBirhday" type="text" placeholder="Год рождения"/>
                            <span asp-validation-for="RelBirhday" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default remove_reletive">-</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Отдел</label>
                <select asp-for="DepartmentId" class="form-control" id="department">
                    @foreach (var d in ViewBag.Department)
                    {
                        <option id="@d.Id" value="@d.Id" class="form-control">@d.Name</option>
                    }
                </select>
            </div>
            <div id="result">

            </div>
            <label asp-for="Skills" class="control-label">Компитенции</label>
            <div id="result2" class="row">

            </div>
            <div id="input_document">
                <label asp-for="Documents">Документы  <a href="#" id="add_document">Добавить</a></label>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="DocTitle" placeholder="Наименование" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="file" asp-for="DocFile" accept="*" />
                    </div>
                    <div class="form-group">
                        <label> От  </label>
                        <input type="date" class="form-control" asp-for="StartDateDoc"  />
                    </div>  -
                    <div class="form-group">
                        <label> До </label>
                        <input type="date" class="form-control" asp-for="EndDateDoc"  />
                    </div>
                    <button class="btn btn-default remove_document">-</button>
                    <span asp-validation-for="DocTitle" class="text-danger"></span>
                    <span asp-validation-for="DocFile" class="text-danger"></span>
                    <span asp-validation-for="StartDateDoc" class="text-danger"></span>
                </div>
            </div>
            <div id="input_certificate" style="margin-top: 20px;">
                <label asp-for="Certificates">Сертификаты  <a href="#" id="add_certificate">Добавить</a></label>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="CerTitle" placeholder="Наименование" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="file" asp-for="CerFile" accept="*" />
                    </div>
                    <div class="form-group">
                        <label> От  </label>
                        <input type="date" class="form-control" asp-for="StartDateCer"/>
                    </div>  - 
                    <div class="form-group">
                        <label> До </label>
                        <input type="date" class="form-control" asp-for="EndDateCer"/>
                    </div>
                    <button class="btn btn-default remove_certificate">-</button>

                    <span asp-validation-for="CerTitle" class="text-danger"></span>
                    <span asp-validation-for="CerFile" class="text-danger"></span>
                    <span asp-validation-for="StartDateCer" class="text-danger"></span>
                </div>
            </div>
            <div></div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<br/>
@section Scripts{
    <script>
        $(document).ready(function () {
    $("#add_field").click(function (e) {
        e.preventDefault();
        $("#input_fields").append('<div class="form-inline"><input class="phone form-control" type="text" id="Telephone" name="Telephone" value=""><a href="#" class="remove_field">Удалить</a><span class="text-danger field-validation-valid" data-valmsg-for="Telephone" data-valmsg-replace="true"></span></div>');
        initMask();
    });

    $("#input_fields").on("click", ".remove_field", function (e) {
        e.preventDefault();
        $(this).parent("div").remove();
    });
});
$(document).ready(function () {
    $("#add_email").click(function (e) {
        e.preventDefault();
        $(".input_email").append('<div class="form-inline"><input class="form-control" type="text" id="Email" name="Email" value><a href="#" class="remove_email">Удалить</a><span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></div>');
    });
    $(".input_email").on("click", ".remove_email", function (e) {
        e.preventDefault();
        $(this).parent('div').remove();
    });
});
$(document).ready(function () {
    $("#add_document").click(function (e) {
        var inTitle = '<div class="form-group"><input type="text" class="form-control" placeholder="Наименование" id="DocTitle" name="DocTitle" value=""></div> ';
        var inImg = '<div class="form-group"><input class="form-control" type="file" name="DocFile" accept="*"></div> ';
        var dateStart = '<div class="form-group"><label> От  </label><input type="date" class="form-control"  name="StartDateDoc" value=""></div>   - ';
        var dateEnd = '<div class="form-group"><label> До  </label><input type="date" class="form-control"  name="EndDateDoc" value=""></div> ';
        var rmv = '<button class="btn btn-default remove_document" >-</button><span class="text-danger field-validation-valid" data-valmsg-for="DocTitle" data-valmsg-replace="true"></span><span class="text-danger field-validation-valid" data-valmsg-for="DocFile" data-valmsg-replace="true"></span>' +
            '<span class="text-danger field-validation-valid" data-valmsg-for="StartDateDoc" data-valmsg-replace="true"></span>';
        e.preventDefault();
        $("#input_document").append('<div class="form-inline" style="margin-top : 10px;">' + inTitle + inImg + dateStart + dateEnd + rmv + "</div>");
        initDateMask();
    });

    $("#input_document").on("click", ".remove_document", function (e) {
        e.preventDefault();
        $(this).parent("div").remove();
    });
});
$(document).ready(function () {
    $("#add_certificate").click(function (e) {
        var inTitle = '<div class="form-group"><input type="text" class="form-control" placeholder="Наименование"  name="CerTitle" value=""></div> ';
        var inImg = '<div class="form-group"><input class="form-control" type="file" name="CerFile" accept="*"></div> ';
        var dateStart = '<div class="form-group"><label> От  </label><input type="date" class="form-control"  name="StartDateCer" value=""></div>   - ';
        var dateEnd = '<div class="form-group"><label> До  </label><input type="date" class="form-control"  name="EndDateCer" value=""></div> ';
        var rmv = '<button class="btn btn-default remove_certificate" >-</button><span class="text-danger field-validation-valid" data-valmsg-for="CerTitle" data-valmsg-replace="true"></span><span class="text-danger field-validation-valid" data-valmsg-for="CerFile" data-valmsg-replace="true"></span>' +
            '<span class="text-danger field-validation-valid" data-valmsg-for="StartDateCer" data-valmsg-replace="true"></span>';
        e.preventDefault();
        $("#input_certificate").append('<div class="form-inline" style="margin-top : 10px;">' + inTitle + inImg + dateStart + dateEnd + rmv + '</div>');
    });

    $("#input_certificate").on("click", ".remove_certificate", function (e) {
        e.preventDefault();
        $(this).parent("div").remove();
    });
});
$(document).ready(function () {
    $("#add_reletive").click(function (e) {
        var inName = '<div class="col-md-4"><input   placeholder="ФИО" class="form-control" type="text"  name="RelName" value /><span class="text-danger field-validation-valid" data-valmsg-for="RelName" data-valmsg-replace="true"></span></div>';
        var inStatus = '<div class="col-md-3"><input  placeholder="Статус" class="form-control" type="text"  name="RelType" value /><span class="text-danger field-validation-valid" data-valmsg-for="RelType" data-valmsg-replace="true"></span></div>';
        var inBirhday = '<div class="col-md-3"><input placeholder="Год рождения" class="form-control datesss" type="text"  name="RelBirhday" value><span class="text-danger field-validation-valid" data-valmsg-for="RelBirhday" data-valmsg-replace="true"></span></div>';
        var rmv = '<div class="col-md-1"><button class="btn btn-default remove_reletive">-</button></div>';
        e.preventDefault();
        $("#input_reletive").append('<div>' + inName + inStatus + inBirhday + rmv + '</div>');
        initDateMask();
    });

    $("#input_reletive").on("click", ".remove_reletive", function (e) {
        e.preventDefault();
        $(this).parent("div").parent("div").remove();
    });
});
        $(document).ready(function () {
            $("#result").load('@Url.Action("PosList", "Employeer")?id=' + -1);
            $("#result2").load('@Url.Action("SkillList", "Employeer")?positionId=' + -1);
            initMask();
            initDateMask();
        });

        $("select#department").change(
            function () {
                var id = $(this).children(":selected").attr("id");
                $("#result").load('@Url.Action("PosList", "Employeer")?id=' + id);
                $("#result2").load('@Url.Action("SkillList", "Employeer")?departmentId=' + id);
            });
        var positionId = -1;
        $(document).change(function (e) {
            e.preventDefault();
            var selectBox = document.getElementById("position");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            if (selectedValue !== positionId) {
                $("#result2").load('@Url.Action("SkillList", "Employeer")?positionId=' + selectedValue);
            }
            positionId = selectedValue;
        });
        
        
    </script>

}
