﻿@using HRSystem.Controllers
@model HRSystem.Models.Employeer
@{
    ViewData["Title"] = "EmployeerShortInfo";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="title">@string.Join(" ",Model.Surname,Model.Name,Model.LastName)</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-7">
            <dl class="dl-horizontal text-left">
                <dt>Год рождения</dt>
                <dd>@Model.BirthdayDate.ToString("dd MMMM yyyy")</dd>
                <dt>Адрес</dt>
                <dd>@Model.Address</dd>
                <dt>Номер</dt>
                @foreach (var tel in Model.Telephone.Split(","))
                {
                    <dd>@tel</dd>
                }
                <dt>Почта</dt>
                @foreach (var em in Model.Email.Split(","))
                {
                    <dd>@em</dd>
                }
                <dt>Должность</dt>
                <dd>@Model.Position.Name</dd>
                <dt>Отдел</dt>
                <dd>@Model.Department.Name</dd>
                <dt>Статус</dt>
                @switch (Model.Status)
                {
                    case "AtWork":
                        <dd>Работает</dd>
                        break;
                    case "Dismissed":
                        <dd>На отпуске</dd>
                        break;
                    case "OnVacation":
                        <dd>Не работает</dd>
                        break;
                }
            </dl>
        </div>
        <div class="col-md-3 col-md-push-1">
            @if (string.IsNullOrWhiteSpace(Model.EmployeePhoto) || string.IsNullOrEmpty(Model.EmployeePhoto))
            {
                <img src="~/images/uploads/emptyImg.jpg" id="img" width="150" height="200">
            }
            else
            {
                <img src="~/@Model.EmployeePhoto" id="img" width="150" height="200">
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-info" asp-action="EmployeerInfo" asp-route-id="@Model.Id">Полная информация</a>
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>