﻿@model HRSystem.ViewModels.InfoViewModel


@{
    ViewData["Title"] = "EmployeerInfo";
}

<div>
    <h1 class="text-center">
        @String.Join(" ", Model.Employeer.Surname, Model.Employeer.Name, Model.Employeer.LastName)
        <span class="dropdown">
            <a a href="#" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>
                    @switch (Model.Employeer.Status)
                    {
                        case "AtWork":<small id="status">(Работает)</small>
                            break;
                        case "Dismissed":<small id="status">(На отпуске)</small>
                            break;
                        case "OnVacation":<small id="status">(Не работает)</small>
                            break;
                    }
                </span>
            </a>@if (Context.User.IsInRole("Admin"))
            {
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#" onclick="statusChange('AtWork')">Работает</a></li>
                    <li><a href="#" onclick="statusChange('Dismissed')">Отпуск</a></li>
                    <li><a href="#" onclick="statusChange('OnVacation')">Не работает</a></li>
                </ul>
            }
        </span>
        <span class="dropdown">
            <a a href="#" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <small>     Шаблоны</small>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                @foreach (var sample in Model.SampleForms)
                {
                    <li><a asp-action="EmployeerSample" asp-controller="SampleForm" asp-route-sampleId="@sample.Id" asp-route-employeerId="@Model.Employeer.Id">@sample.Name</a></li>
                }
            </ul>
        </span>
    </h1>
</div>
<div class="row">
    <div class="col-md-9">
        <h3>
            Личные Данные  <small>
                @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("User"))
                {<a asp-action="UpdatePesonalInfo" asp-route-id="@Model.Employeer.Id" id="personal"><i class="fas fa-edit"></i></a>}
        </small>
    </h3>
    <p><b>Дата рождения</b>: @Model.Employeer.BirthdayDate.ToString("dd MMMM yyyy")</p>
    <p><b>Адрес</b>: @Model.Employeer.Address</p>
    <p><b>Телефон</b>: @Model.Employeer.Telephone</p>
    <p><b>Почта</b>: @Model.Employeer.Email</p>
    @if (Model.Employeer.isGender)
    {
        <p><b>Пол</b>: Муж</p>
        if (Model.Employeer.isMilitaryService)
        {
            <p><b>Военная служба</b>: Служил</p>
        }
        else
        {<p><b>Военная служба</b>: Не служил</p>
        }
    }
    else
    {
        <p><b>Пол</b>: Жен</p>}
    @if (Model.Employeer.isMarried)
    {
        <p><b>Семейное положение</b>: Женат/Замужем</p>}
    else
    {
        <p><b>Семейное положение</b>: Холост/Незамужем</p>}
    <p><b>Отдел</b>: @Model.Employeer.Department.Name</p>
    <p><b>Должность</b>: @Model.Employeer.Position.Name</p>
    @if (Model.Employeer.Notification)
    {
        <p><b>Уведомление</b>: Вкл</p>}
    else
    {
        <p><b>Уведомление</b>: Откл</p>}
    <p>      <a  asp-controller="Roles" asp-action="ChangePassword" asp-route-id="@Model.Employeer.IdForPersonal">Сменить пароль</a></p>
</div>
<div class="col-md-3 col-md-pull-1">
    <a href="#" id="avatar">
        @if (string.IsNullOrWhiteSpace(Model.Employeer.EmployeePhoto) || string.IsNullOrEmpty(Model.Employeer.EmployeePhoto))
        {
            <img src="~/images/uploads/emptyImg.jpg" id="img" width="150" height="200">
        }
        else
        {
            <img src="~/@Model.Employeer.EmployeePhoto" id="img" width="150" height="200">
        }
    </a>
</div>


</div>
<div class="row">
    <div class="col-md-5">
        <h3>
            Паспортные Данные  <small>
                @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("User"))
                {
                    <a href="#" id="passport"><i class="fas fa-edit"></i></a>
                }
        </small>
    </h3>
    <p><b>ИНН паспорта</b>:   @Model.Employeer.PassportINN</p>
    <p><b>Орган выдавший документ</b>:   @Model.Employeer.ByWhomGiven</p>
    <p><b>Дата выдачи</b>:   @Model.Employeer.PassportDateIn.ToString("dd MMMM yyyy")</p>
    <p><b>Срок окончания</b>:   @Model.Employeer.PassportDateOut.ToString("dd MMMM yyyy")</p>
</div>
<div class="col-md-6">
    <h3 class="text-center">
        Компетенции <small>
            @if (Context.User.IsInRole("Admin"))
            {
                <a asp-action="GetHistory" asp-route-id="@Model.Employeer.Id"><i class="fas fa-history"></i></a>
                <a asp-action="UpdatePosition" asp-route-id="@Model.Employeer.Id"
                   asp-route-departmentId="@Model.Employeer.DepartmentId"
                   asp-route-positionId="@Model.Employeer.PositionId"><i class="fas fa-edit"></i></a>
            }<br />
    </small>
</h3>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Оценка</th>
            <th>Тип</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rel in Model.Requirements)
        {
            <tr>
                <td>@rel.Requirement.Name</td>
                <td>
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (rel.Rating >= i)
                            {
                                <span class="fa fa-star" style="color: orange;"></span>
                            }
                            else
                            {
                                <span class="fa fa-star"></span>
                            }
                        }
                    }
                </td>
                @if (rel.IsImportant)
                {
                    <td>Обязательно</td>
                }
                else
                {
                    <td>Желательно</td>
                }
            </tr>
        }
    </tbody>
</table>
</div>

</div>
<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">
            Родственики  <small>
                @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("User"))
                {
                    <a href="#" id="addRel"><i class="fas fa-plus-circle"></i></a>
                }
        </small>
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Статус</th>
                <th>Дата рождения</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rel in Model.Relations)
            {
                <tr id="rel_@rel.Id">
                    <td>@rel.Name</td>
                    <td>@rel.Type</td>
                    <td>@rel.Birthday.ToString("dd MMMM yyyy")</td>
                    <td>
                        @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("User"))
                        {
                            <a href="#ConfirmRel_@rel.Id" data-toggle="modal"><i class="fas fa-trash-alt"></i></a>
                        }
                </td>
            </tr>
            <div class="modal" tabindex="-1" role="dialog" id="ConfirmRel_@rel.Id">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body" style="margin: 10px">
                            <p> Действительно хотите удалить @rel.Name  ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="deleteRel(@rel.Id)" data-dismiss="modal">Да</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <h3 class="text-center">
        Документы   <small>
            @if (Context.User.IsInRole("Admin"))
            {
                <a href="#" id="addDoc"><i class="fas fa-plus-circle"></i></a>
            }
    </small>
</h3>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Срок годности</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model.Documents)
        {
            <tr id="doc_@doc.Id">
                <td>@doc.Title</td>
                @if (doc.EndDate != null)
                {
                    <td>
                        @doc.StartDate.ToString("dd MMMM yyyy") -
                    @{
                        var s = ((DateTime)doc.EndDate).ToString("dd MMMM yyyy");
                    }
                    @s
                </td>
            }
            else
            {
                <td>Бессрочный</td>
            }
                <td>@Html.ActionLink("Скачать", "Download", new { id = doc.Id, type = "Document" })</td>
                <td>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <a href="#ConfirmDoc_@doc.Id" data-toggle="modal"><i class="fas fa-trash-alt"></i></a>
                    }
            </td>
        </tr>
        <div class="modal" tabindex="-1" role="dialog" id="ConfirmDoc_@doc.Id">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body" style="margin: 10px">
                        <p> Действительно хотите удалить @doc.Title  ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="deleteDoc(@doc.Id)" data-dismiss="modal">Да</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    }
    </tbody>
</table>
</div>
<div class="col-md-4">
    <h3 class="text-center">
        Сертификаты  <small>
            @if (Context.User.IsInRole("Admin"))
            {
                <a href="#" id="addCer"><i class="fas fa-plus-circle"></i></a>
            }
    </small>
</h3>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Срок годности</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model.Certificates)
        {
            <tr id="cer_@doc.Id">
                <td>@doc.Title</td>
                @if (doc.EndDate != null)
                {
                    <td>
                        @doc.StartDate.ToString("dd MMMM yyyy") -
                    @{
                        var s = ((DateTime)doc.EndDate).ToString("dd MMMM yyyy");
                    }
                    @s
                </td>
            }
            else
            {
                <td>Бессрочный</td>
            }
                <td>@Html.ActionLink("Скачать", "Download", new { id = doc.Id, type = "Certificate" })</td>
                <td>
                    @if (Context.User.IsInRole("Admin"))
                    {<a href="#Confirm_@doc.Id" data-toggle="modal"><i class="fas fa-trash-alt"></i></a>}
            </td>
        </tr>
        <div class="modal" tabindex="-1" role="dialog" id="Confirm_@doc.Id">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body" style="margin: 10px">
                        <p> Действительно хотите удалить @doc.Title  ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="deleteCer(@doc.Id)" data-dismiss="modal">Да</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    }
    </tbody>
</table>
</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modalResult">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Фото</h4>
            </div>
            <div class="modal-body" id="updateContent">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $('#avatar').click(function(e) {
            $('#myModalLabel').text('Поменть аватарку');
            $('#updateContent').empty();
            var form =
                '<form method="post" enctype="multipart/form-data">';
            var dowload =
                '<input type="file" class="form-control" id="files" name="files" multiple />';
            var button = '<input type="button" class="btn btn-default" onclick="upload()" value="Скачать" />';
            $('#updateContent').append(form + dowload + button + "</form>");
            $("#update").modal("hide");
            $("#myModal").modal();
    });

        $('#passport').click(function() {
            $('#myModalLabel').text('Редактировать данные паспорта');
            $('#updateContent').load('@Url.Action("UpdatePassport","Employeer")?id=' + @Model.Employeer.Id);
            $("#myModal").modal();
        });

        $('#addRel').click(function() {
            $('#myModalLabel').text('Добавить родственников');
            $('#updateContent').load('@Url.Action("UpdateRelative","Employeer")?id=' + @Model.Employeer.Id);
            $("#myModal").modal();
        });
        $('#addDoc').click(function() {
            $('#myModalLabel').text('Добавить документы');
            $('#updateContent').load('@Url.Action("UpdateDocument","Employeer")?id=' + @Model.Employeer.Id);
            $("#myModal").modal();
        });
        $('#addCer').click(function() {
            $('#myModalLabel').text('Добавить сертификат');
            $('#updateContent').load('@Url.Action("UpdateCertificate","Employeer")?id=' + @Model.Employeer.Id);
            $("#myModal").modal();
        });
        function deleteRel(relId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteRelative","Employeer")',
            data: {'relId' : relId},
            success: function (message) {
                console.log(message);
                $('#rel_'+relId).hide();
            },
            error: function() {
                alert("There was error uploading files!");
            }
        });
        }
        function deleteDoc(docId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteDocument","Employeer")',
                data: { 'docId': docId},
                success: function (message) {
                    console.log(message);
                    $('#doc_' + docId).hide();
                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        }
        function deleteCer(cerId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteCertificate","Employeer")',
                data: { 'cerId': cerId},
                success: function (message) {
                    console.log(message);
                    $('#cer_' + cerId).hide();
                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        }

        function upload() {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Employeer/ChangeAvatar?=" + @Model.Employeer.Id,
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    var path = JSON.parse(message);
                    $('#img').attr("src", "/" + path);

                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
            $("#myModal").modal("hide");
        }

        function statusChange(type) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateStatus", "Employeer")',
                data: {
                    'id': @Model.Employeer.Id,
                    'status': type
                },
                success: function (message) {

                    $('#status').text(message);
                    $("#update").modal("hide");
                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        }
    </script>
}