﻿@model IEnumerable<HRSystem.ViewModels.HistoryViewModel>

@{
    ViewData["Title"] = "GetHistory";
}

<h2>История компетенции</h2>
@if (!Model.Any())
{
    <p>История пуста</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>C</p>
                </th>
                <th>
                    <p>До</p>
                </th>
                <th>
                    <p>Компетенция</p>
                </th>
                <th>
                    <p>Оценка</p>
                </th>
                <th>
                    <p>Отдел</p>
                </th>
                <th>
                    <p>Должность</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <tr>
                        <td>
                            <p>@item.StartDate.ToString("dd MMMM yyyy")</p>
                        </td>
                        <td>
                            <p>@item.EndDate.ToString("dd MMMM yyyy")</p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequirementName)
                        </td>
                        <td>
                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (item.Rating >= i)
                                    {
                                        <span class="fa fa-star" style="color: orange;"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star"></span>
                                    }
                                }
                            }
                        </td>
                        <td>
                            <p>@item.DepartmentName</p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionName)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
