﻿@model IEnumerable<HRSystem.Models.Employeer>


@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Сотрудники</h1>

<div class="row">
@if (Context.User.IsInRole("Admin"))
{
    <div class="btn-group col-md-push-8  col-md-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Поиск по компетенциям</button>
    </div>
    <div class="btn-group col-md-push-8 col-md-2">
        <button class="btn btn-default btn-block" onclick="createEmp(@ViewBag.Department.Count, @ViewBag.Positions.Count)">Добавить</button>
    </div>
}
</div>
<br/>
<table id="employeerTable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ФИО</th>
        <th>Возраст</th>
        <th>Отдел</th>
        <th>Должность</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var emp in Model)
    {
        <tr>
            <td><a href="#" onclick="getModal(@emp.Id)">@string.Join(" ", emp.Surname, emp.Name)</a></td>
            <td>@{
                    int b = emp.BirthdayDate.Year ;
                    int a = DateTime.Now.Year - b;
                    <p>@a лет</p>
                }</td>
            <td>@emp.Department.Name</td>
            <td>@emp.Position.Name</td>
            <td>@switch (emp.Status)
                {
                    case "AtWork":<p>Работает</p>
                        break;
                    case "Dismissed":<p>На отпуске</p>
                        break;
                    case "OnVacation":<p>Не работает</p>
                        break;
                }</td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form asp-action="Index" asp-controller="Employeer">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Поиск по компетенциям</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        @foreach (var req in ViewBag.Requirement)
                        {
                            <div class="col-lg-6" style="margin-bottom: 10px;">
                                @if (ViewBag.Search.Contains(req.Name))
                                {
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="requirements" value="@req.Name" checked="checked">
                                        </span>
                                        <span class="form-control text-center">@req.Name</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="requirements" value="@req.Name">
                                        </span>
                                        <span class="form-control text-center">@req.Name</span>
                                    </div>
                                }

                            </div>
                        }
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" value="Поиск">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modalResult">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function getModal(id) {
            $("#modalResult").load('@Url.Action("EmployeerShortInfo", "Employeer")?id=' + id);
            $("#myModal").modal();
        }
        function createEmp(department, position) {
            if (department === 0 || position === 0) {
                alert("Сначало создайте отдел и должность!");
            }
            else {
                document.location.replace('@Url.Action("Create", "Employeer")');
            }
        }
    </script>
} 