﻿@model HRSystem.ViewModels.EmployeerViewModel

<div class="form-group">
    <label asp-for="PositionId" class="control-label">Должность</label>
    <select asp-for="PositionId" class="form-control" id="position">
        @foreach (var p in ViewBag.Positions)
        {
            if (p.Id == ViewBag.Id)
            {
                <option value="@p.Id" id="@p.Id" selected="selected">@p.Name</option>
            }
            else
            {
                <option value="@p.Id" id="@p.Id">@p.Name</option>
            }
        }
    </select>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



