﻿@model HRSystem.ViewModels.EmployeerViewModel


<div class="form-group">
    @{
        var index = 0;
        foreach (var req in ViewBag.Requirements)
        {
            <div class="star-card col-md-4" style="height: 200px;">
                <p class="text-center"><b>@req.Requirement.Name</b></p>
                @if (req.IsImportant)
                {
                    <p>Обязательно</p>
                }
                else
                {
                    <p>Желательно</p>
                }
                <div class="input-group">
                    <input type="date" class="form-control" placeholder="Дата" asp-for="Skills[index].StartDate">
                    <input asp-for="Skills[index].RequirementId" type="hidden" value="@req.RequirementId" />
                    <input asp-for="Skills[index].IsImportant" type="hidden" value="@req.IsImportant" />
                    <div class="rating center-block">
                        <label>
                            @if (req.Rating == 1)
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="1" checked="checked"/>
                            }
                            else
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="1" />
                            }
                            <span class="fa fa-star icon"></span>
                        </label>
                        <label>
                            @if (req.Rating == 2)
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="2" checked="checked" />
                            }
                            else
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="2" />
                            }
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                        </label>
                        <label>
                            @if (req.Rating == 3)
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="3" checked="checked" />
                            }
                            else
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="3" />
                            }
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                        </label>
                        <label>
                            @if (req.Rating == 4)
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="4" checked="checked" />
                            }
                            else
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="4" />
                            }
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                        </label>
                        <label>
                            @if (req.Rating == 5)
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="5" checked="checked" />
                            }
                            else
                            {
                                <input type="radio" asp-for="Skills[index].Rating" value="5" />
                            }
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                            <span class="fa fa-star icon"></span>
                        </label>
                    </div>
                </div>
            </div>
            index++;
        }
    }
</div>

@Html.Partial("_ValidationScriptsPartial");