﻿@model HRSystem.ViewModels.EmployeerViewModel

@{
    ViewData["Title"] = "UpdatePesonalInfo";
}

<h2>Изменение личных данных</h2>

<hr />
<div class="row">
        <form asp-action="UpdatePesonalInfo" method="post" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Имя</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label">Фамилия</label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Отчество</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="BirthdayDate">Дата рождения</label>
                        <input class="form-control" asp-for="BirthdayDate" type="date" />
                        <span asp-validation-for="BirthdayDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Address">Адрес</label>
                        <input class="form-control" asp-for="Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="genderResult">
                        <div class="form-group">
                            <label asp-for="isMilitaryService" class="control-label">Военная служба</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" asp-for="isMilitaryService" value="@true"> Служил
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" asp-for="isMilitaryService" value="@false"> Не служил
                                </label>
                            </div>
                            <span asp-validation-for="isMilitaryService" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="isMarried">Семейное положение</label>
                        <div class="radio">
                            <label>
                                <input type="radio" asp-for="isMarried" value="@true"> Женат
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" asp-for="isMarried" value="@false"> Холост
                            </label>
                        </div>
                        <span asp-validation-for="isMarried" class="text-danger"></span>
                    </div>
                    <label asp-for="Telephone">Телефон</label>
                    <div id="input_fields_wrap">
                        <div class="form-inline">
                            <div class="form-group">
                                <input class="phone form-control" asp-for="Telephone" type="text" id="tel_0" />
                            </div>
                            <button class="btn btn-default" id="add_field_button">+</button>
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>
                    </div>
                    <label asp-for="Email">Почта</label>
                    <div class="input_email_wrap">
                        <div class="form-inline">
                            <div class="form-group">
                                <input class="form-control" asp-for="Email" type="text" id="email_0" />
                            </div>
                            <button class="btn btn-default" id="add_email_button">+</button>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group text-center" style="margin-top: 15px">
                        <input type="submit" value="Сохранить" class="btn btn-info" />
                    </div>
                </div>
        </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#tel').val('');
            $('#em').val('');
            $.ajax
            ({
                type: "GET",

                url: '@Url.Action("GetInfo", "Employeer")',

                data: { 'id': @Model.Id },

                success: function(data) {
                    var answer = JSON.parse(data);
                    var array = answer.split('#');
                    var sum = 0;
                    $.each(array[0].split(','),
                        function (index, value) {
                            $('#tel_' + index + ':text').val(value);
                            $("#input_fields_wrap").append('<div class="form-inline"><input class="phone form-control" type="text" id="tel_' + (index + 1) + '" name="Telephone" value=""><a href="#" class="remove_field">Удалить</a><span class="text-danger field-validation-valid" data-valmsg-for="Telephone" data-valmsg-replace="true"></span></div>');
                            sum = index;
                        });
                    $('#tel_' + (sum + 1)).parent().remove();

                    $.each(array[1].split(','),
                        function (index, value) {
                            $('#email_' + index + ':text').val(value);
                            $(".input_email_wrap").append('<div class="form-inline"><input class="form-control" type="text" id="email_'+ (index + 1) +'" name="Email" value><a href="#" class="remove_email">Удалить</a><span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></div>');
                            sum = index;
                        });
                    $('#email_' + (sum + 1)).parent().remove();



                },
                error : function(data) {
                    alert(data);
                }

                });

            initMask();
        });

    </script>

}

