﻿@model HRSystem.ViewModels.EmployeerViewModel

@{
    ViewData["Title"] = "UpdatePosition";
}

<br/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdatePosition" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Отдел</label>
                <select asp-for="DepartmentId" class="form-control" id="department">
                    @foreach (var d in ViewBag.Department)
                    {
                        if (Model.DepartmentId == d.Id)
                        {
                            <option id="@d.Id" value="@d.Id" class="form-control" selecred="selected">@d.Name</option>
                        }
                        else
                        {
                            <option id="@d.Id" value="@d.Id" class="form-control">@d.Name</option>
                        }
                    }
                </select>
            </div>
            <div id="result">

            </div>
            <div id="result2" class="row">

            </div>
            <div class="form-group text-center" style="margin-top: 15px">
                <input type="submit" value="Сохранить" class="btn btn-info" />
            </div>
        </form>
    </div>

</div>
@section Scripts{ 
    <script>
        var emploueerId = @Model.Id;
        $(document).ready(function () {
            emploueerId = @Model.Id;
            var id = @Model.DepartmentId;
            var positionId = @Model.PositionId;
            $("#result").load('@Url.Action("PosList", "Employeer")?id=' + id + '&positionId=' + positionId);
            $("#result2").load('@Url.Action("SkillList", "Employeer")?positionId=' + positionId + '&employeerId=' + emploueerId);

        });


        $("select#department").change(
            function () {
                var id = $(this).children(":selected").attr("id");
                $("#result").load('@Url.Action("PosList", "Employeer")?id=' + id);
                $("#result2").load('@Url.Action("SkillList", "Employeer")?departmentId=' + id + '&employeerId=' + emploueerId);
            });

        var positionId = -1;
        $(document).change(function (e) {
            e.preventDefault();
            var selectBox = document.getElementById("position");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            if (selectedValue != positionId) {
                $("#result2").load('@Url.Action("SkillList", "Employeer")?positionId=' + selectedValue + '&employeerId=' + emploueerId);
            }
            positionId = selectedValue;
        });
    </script>
}