﻿@model HRSystem.ViewModels.CertificateViewModel


<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdateCertificate" asp-route-EmployeerId="@Model.EmployeerId" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateCer" class="control-label">ОТ</label>
                <input asp-for="StartDateCer" type="date" class="form-control" value="" />
                <span asp-validation-for="StartDateCer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateCer" class="control-label">До</label>
                <input asp-for="EndDateCer" type="date" class="form-control" />
                <span asp-validation-for="EndDateCer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateImage" class="control-label">Файл</label>
                <input class="form-control" type="file" asp-for="CertificateImage" accept="*/*" />
                <span asp-validation-for="CertificateImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
