﻿@model HRSystem.ViewModels.PassportViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdatePassport" asp-route-EmployeerId="@Model.EmployeerId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassportInn" class="control-label">ИНН Паспорта</label>
                <input asp-for="PassportInn" class="form-control" />
                <span asp-validation-for="PassportInn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportDateIn" class="control-label">Дата выдачи</label>
                <input asp-for="PassportDateIn" class="form-control"  type="date"/>
                <span asp-validation-for="PassportDateIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportDateOut" class="control-label">Срок окончания</label>
                <input asp-for="PassportDateOut" class="form-control"  type="date" />
                <span asp-validation-for="PassportDateOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ByWhomGiven" class="control-label">Орган выдавший документ</label>
                <input asp-for="ByWhomGiven" class="form-control"/>
                <span asp-validation-for="ByWhomGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
