﻿@model HRSystem.ViewModels.DocumentViewModel


<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdateDocument" asp-route-EmployeerId="@Model.EmployeerId" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateDoc" class="control-label">ОТ</label>
                <input asp-for="StartDateDoc" type="date" class="form-control" value=""/>
                <span asp-validation-for="StartDateDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateDoc" class="control-label">До</label>
                <input asp-for="EndDateDoc" type="date" class="form-control" />
                <span asp-validation-for="EndDateDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentImage" class="control-label">Файлe</label>
                <input class="form-control"  type="file" asp-for="DocumentImage" accept="*/*" />
                <span asp-validation-for="DocumentImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>