﻿@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="clearfix">
    <div id="cssmenu-2" class="navbar-left">
        <ul>
            <li><a id="req" href="#" onclick="select('Requirement')">Компетенции</a></li>
            <li><a id="dep" href="#" onclick="select('Department')">Отделы</a></li>
            <li><a id="pos" href="#" onclick="select('Position')">Должности</a></li>
            <li><a id="rol" href="#" onclick="select('Roles')">Доступ</a></li>
            <li><a id="sKey" href="#" onclick="select('SampleKeys')">Ключи шаблонов</a></li>
        </ul>
    </div>
    <div id="content" class="content">

    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-body" id="modalResult"></div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function() {
        select('@ViewBag.Type');
    });
        var lastlink;
        function select(type) {
            switch (type) {
            case 'Requirement':
                    $('#content').load('@Url.Action("Index","Requirement")');
                    $('#req').addClass("active-nav");
                    if (lastlink !== "req") {
                        $('#' + lastlink).removeClass("active-nav");
                        lastlink = "req";
                    }
                    break;
            case 'Department':
                    $('#content').load('@Url.Action("Index","Department")');
                    $('#dep').addClass("active-nav");
                    if (lastlink !== "dep") {
                        $('#' + lastlink).removeClass("active-nav");
                        lastlink = "dep";
                    }
                    break;
            case 'Position':
                    $('#content').load('@Url.Action("Index","Position")');
                    $('#pos').addClass("active-nav");
                    if (lastlink !== "pos") {
                        $('#' + lastlink).removeClass("active-nav");
                        lastlink = "pos";
                    }
                    break;
            case 'Roles':
                    $('#content').load('@Url.Action("UserList","Roles")');
                    $('#rol').addClass("active-nav");
                    if (lastlink !== "rol") {
                        $('#' + lastlink).removeClass("active-nav");
                        lastlink = "rol";
                    }
                    break;
                case 'SampleKeys':
                $('#content').load('@Url.Action("SampleKeys","SampleForm")');
                    $('#sKey').addClass("active-nav");
                    if (lastlink !== "sKey") {
                    $('#' + lastlink).removeClass("active-nav");
                        lastlink = "sKey";
                }
                break;
                default:
                    $('#content').load('@Url.Action("Index","Requirement")');
                    $('#req').addClass("active-nav");
                    $('#' + lastlink).removeClass("active-nav");
                    lastlink = "req";
                    break;
            }
        }
        function selectR(type, id) {
            switch (type) {
            case 'Requirement':
                    $('#modalResult').load('@Url.Action("Index","PosReq")?positionId=' + id);
                    $("#myModal").modal();
                break;
            }
        }
        function edit(type, id) {
            switch (type) {
                case 'Requirement':
                $("#modalResult").load('@Url.Action("Edit", "Requirement")?id=' + id);
                    $("#myModal").modal();
                    break;
                case 'Department':
                    $("#modalResult").load('@Url.Action("Edit", "Department")?id=' + id);
                    $("#myModal").modal();
                    break;
                case 'Position':
                    $("#modalResult").load('@Url.Action("Edit", "Position")?id=' + id);
                    $("#myModal").modal();
                    break;
                case 'SampleKey':
                    $("#modalResult").load('@Url.Action("EditKey", "SampleForm")?id=' + id);
                    $("#myModal").modal();
                    break;
                case 'Roles':
                    $("#modalResult").load('@Url.Action("Edit", "Roles")?id=' + id);
                    $("#myModal").modal();
                    break;
                default:
            }
        }
        function create(type) {
            switch (type) {
            case 'Requirement':
                $("#modalResult").load('@Url.Action("Create", "Requirement")');
                $("#myModal").modal();
                break;
            case 'Department':
                $("#modalResult").load('@Url.Action("Create", "Department")');
                $("#myModal").modal();
                break;
            case 'Position':
                $("#modalResult").load('@Url.Action("PositionCreate", "Position")');
                $("#myModal").modal();
                break;
            case 'Roles':
                $("#modalResult").load('@Url.Action("Create", "Roles")');
                $("#myModal").modal();
                break;
            default:
            }
        }
</script>
}  