﻿@using System.Security.Cryptography
@model HRSystem.ViewModels.NotificationViewModel


@{
    ViewData["Title"] = "Главная";
}

<div style="margin-top: 40px;">
    <table id="employeerTable" class="table table-bordered">
        <thead>
            <tr>
                <td>ФИО</td>
                <td>Тип уведомления</td>
                <td>Комментарий</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model.pastBirtdayEmployer)
            {
                <tr style="background-color: #f8d7da; color: #721c24; border-color: #f5c6cb">
                    <td>
                        <a href="#" onclick="getModal(@emp.Id)">@string.Join(" ", emp.Surname, emp.Name)</a>
                    </td>

                    <td>
                        День рождения
                    </td>
                    <td>
                        @{
                            int day = emp.BirthdayDate.Day;
                            int month = emp.BirthdayDate.Month;
                            int thisYear = DateTime.Now.Year;
                            int age = DateTime.Now.Year - emp.BirthdayDate.Year;


                            DateTime birthday = new DateTime(thisYear, month, day);

                            var c = (DateTime.Now - birthday).Days;

                            if (birthday.Date == DateTime.Now.Date)
                            {
                                <p> сегодня исполняется  @age года</p>
                            }
                            else
                            {
                                <p> @c дня(дней) назад исполнилось  @age года</p>
                            }
                        }
                    </td>
                </tr>
            }
            @foreach (var emp in Model.futureBirthdayEmployer)
            {
                <tr style="background-color: #fff3cd; color: #856404; border-color: #ffeeba">
                    <td>
                        <a href="#" onclick="getModal(@emp.Id)">@string.Join(" ", emp.Surname, emp.Name)</a>
                    </td>

                    <td>
                        День рождения
                    </td>
                    <td>
                        @{
                            int day = emp.BirthdayDate.Day;
                            int month = emp.BirthdayDate.Month;
                            int thisYear = DateTime.Now.Year;

                            int age = thisYear - emp.BirthdayDate.Year;

                            DateTime birthday = new DateTime(thisYear, month, day);

                            var c = birthday.Date - DateTime.Now.Date;


                            <p>через @c.Days дня(дней) исполнится  @age года</p>
                        }
                    </td>
                </tr>
            }



            @foreach (var emp in Model.FutureDocuments)
            {
                <tr style="background-color: #fff3cd; color: #856404; border-color: #ffeeba">
                    <td>
                        <a href="#" onclick="getModal(@emp.Employeer.Id)">@string.Join(" ", emp.Employeer.Surname, emp.Employeer.Name)</a>
                    </td>
                    <td>
                        Документ (@emp.Title)
                    </td>
                    <td>
                            @if (emp.EndDate != null)
                            {
                                var days = (((DateTime) emp.EndDate).Date - DateTime.Now.Date).Days;
                        <p>срок документа истекает через @days дня(дней)</p>
                            }
                    </td>
                </tr>
                            }
            @foreach (var emp in Model.PastDocuments)
            {
                <tr style="background-color: #f8d7da; color: #721c24; border-color: #f5c6cb">
                    <td>
                        <a href="#" onclick="getModal(@emp.Employeer.Id)">@string.Join(" ", emp.Employeer.Surname, emp.Employeer.Name)</a>
                    </td>
                    <td>
                        Документ (@emp.Title)
                    </td>
                    <td>
                        @{
                            if (emp.EndDate != null && ((DateTime)emp.EndDate).Date == DateTime.Now.Date)
                            {
                                <p> срок документа истекает сегодня</p>
                            }
                            else
                            {
                                    if (emp.EndDate != null)
                                    {
                                        var days = (DateTime.Now.Date - ((DateTime) emp.EndDate).Date).Days;
                                <p> срок документа истек @days дня(дней) назад</p>
                                    }
                            }

                        }
                        
                    </td>
                </tr>
            }
            @foreach (var emp in Model.FutureCertificates)
            {
                <tr style="background-color: #fff3cd; color: #856404; border-color: #ffeeba">
                    <td>
                        <a href="#" onclick="getModal(@emp.Employeer.Id)">@string.Join(" ", emp.Employeer.Surname, emp.Employeer.Name)</a>
                    </td>
                    <td>
                        Сертификат (@emp.Title)
                    </td>
                    <td>
                            @if (emp.EndDate != null)
                            {
                                var days = (((DateTime) emp.EndDate).Date - DateTime.Now.Date).Days;
                        <p> срок сертификата истекает через @days дня(дней)</p>
                            }
                    </td>
                </tr>
            }
            @foreach (var emp in Model.PastCertificates)
            {
                <tr style="background-color: #f8d7da; color: #721c24; border-color: #f5c6cb">
                    <td>
                        <a href="#" onclick="getModal(@emp.Employeer.Id)">@string.Join(" ", emp.Employeer.Surname, emp.Employeer.Name)</a>
                    </td>
                    <td>
                        Сертификат (@emp.Title)
                    </td>
                    <td>
                        @{
                            if (emp.EndDate != null && ((DateTime)emp.EndDate).Date == DateTime.Now.Date)
                            {
                                <p> срок сертификата истекает сегодня</p>
                            }
                            else
                            {
                                    if (emp.EndDate != null)
                                    {
                                        var days = (DateTime.Now.Date - ((DateTime) emp.EndDate).Date).Days;
                                <p>срок сертификата истек @days дня(дней) назад</p>
                                    }
                                        }

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function getModal(id) {
            $("#modalResult").empty();
            $("#modalResult").load('@Url.Action("EmployeerShortInfo", "Employeer")?id=' + id);
            $("#myModal").modal();
        }
    </script>
} 