﻿@using Microsoft.Azure.KeyVault.Models
@model IEnumerable<HRSystem.Models.Department>


@{
    ViewData["Title"] = "Index";
}
<h1>Отделы</h1>
<div class="row">
    <div class="btn-group col-md-push-10  col-md-2">
        <button class="btn btn-default btn-block" onclick="create('Department')">Добавить</button>
    </div>
</div>
<br />
<table id="departmentTable" class="table table-striped table-bordered text-center">
    <thead>
    <tr>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var dep in Model)
    {
        <tr>
            <td id="department">
                @dep.Name   @if (Context.User.IsInRole("Admin"))
                {
                <a href="#" class="pull-right" onclick="edit('Department', '@dep.Id')"><i class="fas fa-edit"></i></a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.Partial("_ValidationScriptsPartial")