﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
    
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <input type="submit"  class="btn btn-link navbar-btn navbar-link" value="Выход" />
    </form>
    
}