﻿@model HRSystem.ViewModels.PositionViewModel

<h4 style="margin-left: 10px">Изменить Должность</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-left:30px">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:30px">
                <label asp-for="DepartmentId" class="control-label">Отдел</label>
                <select asp-for="DepartmentId" asp-items="@ViewBag.Departaments" class="form-control">
                    <option selected="selected" disabled="disabled">Все Отделы </option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <div class="form-group" style="margin-left:30px">
                <input type="submit" value="Сохранить" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>