﻿@model IEnumerable<HRSystem.Models.Position>


@{
    ViewData["Title"] = "Index";
}

<h1>Должности</h1>
<div class="row">
@if (User.IsInRole("Admin"))
{
    <div class="btn-group col-md-push-10  col-md-2">
        <button class="btn btn-default btn-block" onclick="create('Position')">Добавить</button>
    </div>
}
</div>
<br />
<table id="positionTable" class="table table-striped table-bordered text-center ">
    <thead>
        <tr>
            <th>Название</th>
            <th>Отдел</th>
            <th>Компетенции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pos in Model)
        {
            <tr>
                <td id="position">@pos.Name  @if (Context.User.IsInRole("Admin"))
                                             {
                                                 <a href="#" class="pull-right" onclick="edit('Position', '@pos.Id')"><i class="fas fa-edit"></i></a>
                                             }</td>
                <td>@pos.Department.Name</td>
                <td><a href="#" onclick="selectR('Requirement', '@pos.Id')">Посмотреть</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_ValidationScriptsPartial")