﻿@model HRSystem.ViewModels.PositionViewModel

@{
    ViewData["Title"] = "Добавление Должности";
}

<h3 style="margin-left: 10px">Добавление Должности</h3>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="PositionCreate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-left:30px">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left: 30px">
                <label asp-for="Name" class="control-label">Отдел</label>
                <select asp-for="DepartmentId" class="form-control">
                    @foreach (var d in ViewBag.Departments)
                    {
                        <option value="@d.Id" class="form-control">@d.Name</option>
                    }
                </select>
            </div>
            <div class="form-group" style="margin-left:30px">
                <input type="submit" value="Добавить" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>